
<div class="alert alert-warning alert-dismissible fade" role="alert">
  <strong>Atenção!</strong> {{errorMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="col-md-6">
  <div class="form-group">
    <label for="">CPF</label>
    
            <input type="text" class="form-control" placeholder="CPF" aria-label="CPF" 
            aria-describedby="basic-addon2" cpf maxlength="14" ng-model="cpf" ng-required="true">

  </div>
  <div class="form-group">
    <label for="">Status</label>
    <select class="form-control" ng-model="status">
      <option value="1" selected>FREE</option>
      <option value="2">BLOCK</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" ng-click="salvar()">Salvar</button>
  <button type="button" class="btn btn-secondary" ng-click="cancelar()">Cancelar</button>
</form>
